name: "build"
on:
  push:
    branches:
      - master

jobs:
  docker-build:
    name: Build & pubish Docker images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Build Docker image
      run: |
        docker buildx build . \
          --build-arg BUILDKIT_INLINE_CACHE=1 \
          -t ghcr.io/1kinlabs/action-release-image:latest \
          --target app

    - name: Login and publish
      run: |
        docker login ghcr.io -u $GITHUB_ACTOR --password-stdin <<< ${{ secrets.GITHUB_TOKEN }}
        docker push ghcr.io/1kinlabs/action-release-image:latest
