name: "build"
on:
  push:
    branches:
      - master

jobs:
  docker-build:
    name: Build & pubish Docker images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push
      id: build-image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=min
        tags: ${{ steps.login-ecr.outputs.registry }}/sentry-release:${{ env.NOW }}-${{ github.sha }}
